---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/sections/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import ReflectionQuote from '../components/sections/ReflectionQuote.astro';
import About from '../components/sections/About.astro';
import Services from '../components/sections/Services.astro';
import Centers from '../components/sections/Centers.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <ReflectionQuote />
    <About />
    <Services />
    <Centers />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
